@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0f0f11] text-gray-100 font-sans antialiased;
  }
}

:root {
  --primary: #8B5CF6;
  --primary-foreground: #ffffff;
}

*{
  scroll-behavior: smooth;
}