PORT = 8000
MONGODB_URI_HOSTED = 
MONGODB_URI_LOCAL = mongodb://localhost:27017/eventra
HMAC_CODE = 
TOKEN_SECRET = 
EMAIL= 
EMAIL_PASSWORD=
FRONT_END_HOSTED = 
FRONT_END_LOCAL = http://localhost:3000
NODE_ENV = development
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET =
JWT_SECRET = 
JWT_TIMEOUT = 30d

ESEWA_SECRET_KEY=
ESEWA_PRODUCT_CODE=
ESEWA_BASE_URL=https://rc-epay.esewa.com.np