name: Node.js CI

on:
  push:
    branches: ["*"] # any branch
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: client/package-lock.json

      - name: Install dependencies (client)
        run: npm ci
        working-directory: ./client

      - name: Build (client)
        run: npm run build --if-present
        working-directory: ./client
